.title{
    margin-bottom: 10px;
    text-align: center;
    width: 210px;
    color: green;
    border: dotted blue 2px;
}

input[type='button']{
    background-color:gray;
    color: snow;
    border: solid salmon 2px;
    width: 100%;
}

input[type='text']{
    background-color: white;
    border: solid salmon 2px;
    width: 100%;
}